

<h1 class="text-center">PRODUCTS</h1>
<div class="card-deck gap-5 justify-content-center d-flex flex-wrap">
    <div class="col-md-2 " *ngFor="let product of products">
      <div class="card h-100 border-light " style="width: 25rem;">
          <img src={{product.image}} class="card-img-top embed-responsive-item" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text text-wrap">{{product.description}}</p>
            
          </div>
          <div class="card-footer">
            <a routerLink="/detail/{{product.id}}" class="btn btn-success">Learn More...</a>
          </div>
        </div>
  </div>
</div>

    <!--<span class="badge">{{product.id}}</span> {{product.price}}-->

