<div class="container-fluid">
  
  <div class="jumbotron">
    <div class="d-flex flex-wrap justify-content-between mt-4  ">
      <div class="d-flex flex-wrap align-items-start ">

        <label class="h2">E COMMERCE</label><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a routerLinkActive="active" routerLink="/login" style=" text-decoration: none; color:gray" class="fs-3">Home</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a routerLink="/login" style=" text-decoration: none; color:gray" class="fs-3">About</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a routerLink="/login" style=" text-decoration: none; color:gray" class="dropdown-toggle fs-3" data-bs-toggle="dropdown" id="dropdownMenuOffset">Services</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <li><a class="dropdown-item fs-4" href="#">Application development</a></li>
            <li><a class="dropdown-item fs-4" href="#">Infrastructure designing</a></li>
            <li><a class="dropdown-item fs-4" href="#">Data Management</a></li>
          </ul>

        <a routerLink="/login" style=" text-decoration: none; color:gray" class="fs-3">Blog</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a routerLink="/login" style=" text-decoration: none; color:gray" class="fs-3">Contact</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

          <form class="form-inline md-form form-sm mt-0  fs-4">
            <input type="text" placeholder="Search by Name" name="search">
            <!--<i class="fas fa-search text-grey" aria-hidden="true"></i>-->
            <!--<span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>-->
           <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </form>
      </div>
      <div class="d-flex align-items-end ">
        <a routerLink="#"><span class="glyphicon glyphicon-envelope fs-3"></span></a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a routerLink="#"><span class="glyphicon glyphicon-bell fs-3"></span></a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a type="submit" routerLink="/login" class="btn btn-primary w-100" ><span class="fs-3"> LOGOUT </span></a>
    </div>
    </div>
  </div>
</div>

<!--
  <app-login></app-login>
  <app-admin></app-admin>
-->

<router-outlet></router-outlet>